{% extends "base.html" %}

{% block title %}
Add Patient
{% endblock %}

{% block content %}

<h1>➕ Add New Patient</h1>

<div class="form-card">

<form method="post">

<label>Patient Name</label>

<input
    type="text"
    name="name"
    placeholder="Enter Patient Name"
    required>

<label>Age</label>

<input
    type="number"
    name="age"
    placeholder="Enter Age"
    required>

<label>Disease</label>

<input
    type="text"
    name="disease"
    placeholder="Enter Disease"
    required>

<label>Doctor</label>

<input
    type="text"
    name="doctor"
    placeholder="Doctor Name"
    required>

<label>Status</label>

<select name="status">

    <option>Admitted</option>

    <option>Stable</option>

    <option>Critical</option>

</select>

<button class="save-btn">
    Save Patient
</button>

</form>

</div>

{% endblock %}