<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Hospital AI{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🏥 Hospital AI</h2>

    <ul>

        <li><a href="/">🏠 Dashboard</a></li>

        <li><a href="/patients">👥 Patients</a></li>

        <li><a href="#">👨‍⚕️ Doctors</a></li>

        <li><a href="#">📅 Appointments</a></li>

        <li><a href="#">🚑 Emergency</a></li>

        <li><a href="#">📈 Analytics</a></li>

        <li><a href="#">🤖 AI Prediction</a></li>

        <li><a href="#">📄 Medical Records</a></li>

        <li><a href="#">⚙️ Settings</a></li>

    </ul>

</div>

<div class="main-content">

{% block content %}

{% endblock %}

</div>

</body>
</html>