<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Hospital AI{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🏥 Hospital AI</h2>

    <ul>

        <li><a href="/">🏠 Dashboard</a></li>

        <li><a href="/patients">👥 Patients</a></li>

        <li><a href="#">👨‍⚕️ Doctors</a></li>

        <li><a href="#">📅 Appointments</a></li>

        <li><a href="#">🚑 Emergency</a></li>

        <li><a href="#">📈 Analytics</a></li>

        <li><a href="#">🤖 AI Prediction</a></li>

        <li><a href="#">📄 Medical Records</a></li>

        <li><a href="#">⚙️ Settings</a></li>

    </ul>

</div>

<div class="main-content">

    <div class="topbar">

    <h2>Hospital Management System</h2>

    <div class="top-actions">

        <button class="theme-btn" onclick="toggleTheme()">
            🌙 Dark Mode
        </button>

    </div>

    </div>

{% block content %}

{% endblock %}

</div>

</body>

<script>

function toggleTheme() {

    document.body.classList.toggle("dark-mode");

    let btn = document.querySelector(".theme-btn");

    if(document.body.classList.contains("dark-mode")){

        btn.innerHTML = "☀️ Light Mode";

        localStorage.setItem("theme","dark");

    }else{

        btn.innerHTML = "🌙 Dark Mode";

        localStorage.setItem("theme","light");

    }

}

window.onload = function(){

    let theme = localStorage.getItem("theme");

    let btn = document.querySelector(".theme-btn");

    if(theme === "dark"){

        document.body.classList.add("dark-mode");

        if(btn){
            btn.innerHTML="☀️ Light Mode";
        }

    }

}

</script>
</html>