<!DOCTYPE html>
<html>
<head>
    <title>Hospital AI Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>🏥 Hospital AI</h2>
<ul>
    <li>🏠 Dashboard</li>
    <li>📊 Data Overview</li>
    <li>👥 Patients</li>
    <li>👨‍⚕️ Doctors</li>
    <li>📅 Appointments</li>
    <li>🚑 Emergency Cases</li>
    <li>📈 Analytics</li>
    <li>🤖 AI Prediction</li>
    <li>📄 Reports</li>
    <li>⚙️ Settings</li>
</ul>
</div>

<div class="main-content">

    <div class="topbar">
        <h2>Hospital Management System</h2>

        <div class="top-actions">
            <input type="text" placeholder="Search Patients...">

            <button class="theme-btn">
                🌙 Dark Mode
            </button>
        </div>
    </div>


    <h1>Hospital Dashboard</h1>

    <div class="cards">

        <div class="card">
            <h3>Total Patients</h3>
            <p>1,250</p>
        </div>

        <div class="card">
            <h3>Doctors</h3>
            <p>85</p>
        </div>

        <div class="card">
            <h3>Appointments</h3>
            <p>320</p>
        </div>

        <div class="card">
            <h3>Emergency Cases</h3>
            <p>15</p>
        </div>

        <div class="card">
            <h3>Available Beds</h3>
            <p>120</p>
        </div>

        <div class="card">
            <h3>Today's Revenue</h3>
            <p>$5,200</p>
        </div>
    </div>
    
</div>

</body>
</html>