{% extends "base.html" %}

{% block title %}
All Patients
{% endblock %}

{% block content %}

<div class="patient-header">

    <h1>👥 All Patients</h1>

    <button class="add-btn">
        ➕ Add Patient
    </button>

</div>

<form class="patient-search">

    <input
        type="text"
        placeholder="Search Patients...">

    <button>
        Search
    </button>

</form>

<table class="patient-table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Disease</th>
        <th>Doctor</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for patient in patients %}

    <tr>

        <td>{{ patient.id }}</td>

        <td>{{ patient.name }}</td>

        <td>{{ patient.age }}</td>

        <td>{{ patient.disease }}</td>

        <td>{{ patient.doctor }}</td>

        <td>{{ patient.status }}</td>

        <td>
            <button>Edit</button>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}