<!DOCTYPE html>
<html>
<head>
    <title>All Patients</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🏥 Hospital AI</h2>

    <ul>
        <li><a href="/">🏠 Dashboard</a></li>

        <li><a href="/patients">👥 Patients</a></li>

        <li>👨‍⚕️ Doctors</li>

        <li>📅 Appointments</li>

        <li>🚑 Emergency</li>

        <li>📈 Analytics</li>

        <li>🤖 AI Prediction</li>

        <li>📄 Medical Records</li>

        <li>⚙️ Settings</li>

    </ul>

</div>

<div class="main-content">

    <h1>👥 All Patients</h1>

    <p>
        This page will contain every patient in the hospital.
    </p>

</div>

</body>
</html>